<!--
@Author: Justin Schieck
@Date:   2017-02-14T23:46:54-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-14T23:47:36-05:00
-->

<footer>


<!--Navbar for every page-->
    <div class="container-fluid navbar-fixed-bottom navbar navbar-default">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="navbar-text">
            <strong>Justin Schieck &bull; JS</strong> | 2016
          </p>
          <ul class="nav navbar-nav navbar-right ">

            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
      </div>
    </div>
</footer>
<script src="/javascripts/jquery-3.1.1.min.js"/></script>
<script src="/javascripts/bootstrap.min.js"/></script>
  </body>
</html>
