<!--
@Author: Justin Schieck
@Date:   2017-02-14T23:46:48-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-15T01:22:14-05:00
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Growing Georgian</title>
    <!--Style sheets-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="stylesheets\style.css">
  </head>
  <body>
<!--Navbar for every page-->
    <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-header-navbar" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <div class="navbar-brand">Growing Georgian</div>
     </div>
     <div id="main-header-navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/contact">Contact</a></li>
       </ul>
     </div>
   </div>
  </nav>
