<!--
@Author: Justin Schieck
@Date:   2017-02-14T23:37:33-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-15T01:26:20-05:00
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Growing Georgian</title>
    <!--Style sheets-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="stylesheets\style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-header-navbar" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
                <div class="navbar-brand">Growing Georgian</div>
            </div>
            <div id="main-header-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="bgimg-1">
    </div>
    <div class="caption">
        <img src="../images/Growinglogo.jpg" class="logo" />
    </div>
    <div style="color: #a1a112;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">Who Are We?</h3>
        <p> Growing Georgian is a food procurement initiative that looks to assist students with temporary sustainable, nutritious food alternatives working off of the Three pillars. These pillars consist of Growing Georgian Garden Coordinator, Meal Exchange
            Chapter Coordinator and the Growing Georgian volunteers/volunteer lead</p>
    </div>


    <div class="bgimg-2">
        <div class="caption">
            <span class="border">Fresh Sustainable Food</span>
        </div>
    </div>

    <div style="color: #a1a112;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">Progress Plan</h3>
        <p> At Georgian Green, our goal is to create a sustainable fresh food source for students who cannot afford the food to live during the school year. Our plan consists of Onsite Composting, and In phase two, our field to field garden project will come
            into effect. This all culminates into a 3 year plan and platform reach schools for year round fresh produce.
        </p>
    </div>


    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #a1a112;">Our Team</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#a1a1a1;text-align:center;padding:50px 80px;text-align: justify;">

            <div class="row">
                <div class="isotope-gallery-container">
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="../images/person.jpg" class="img-responsive" alt="1st gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="http://placehold.it/800x600" class="gallery-zoom"><i  alt="This is the title"></i></a>
                                <a href="#" class="gallery-link" target="_blank"></a>
                            </div>
                            <div class="gallery-details">
                                <h5>Growing Georgian Garden Coordinator</h5>
                                <p>ABOUT</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <!-- Image for gallary ICan Interactive -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="../images/person.jpg" class="img-responsive" alt="2nd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="http://placehold.it/800x600" class="gallery-zoom"></a>
                                <a href="#" class="gallery-link"></a>
                            </div>
                            <div class="gallery-details">
                                <h5>Meal Exchange Chapter Coordinator</h5>
                                <p>ABOUT</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <!-- Image for gallary AR Sandbox-->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="../images/person.jpg" class="img-responsive" alt="3rd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="http://placehold.it/800x600" class="gallery-zoom"></i>
                                </a>
                                <a href="#" class="gallery-link"></a>
                            </div>
                            <div class="gallery-details">
                                <h5>Growing Georgian Lead/Volunteers</h5>
                                <p>ABOUT</p>
                            </div>
                        </div>
                    </div>

                    <!-- /.gallery-item-wrapper -->
                </div>
                <!-- /.isotope-gallery-container -->
            </div>
            <p><a href="/about">Learn more about our team.</a></p>
        </div>
    </div>

    <div class="bgimg-4">
        <div class="caption">
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#a1a112;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Scroll up and down to see more of Growing Georgian.</p>
        </div>
    </div>

    <div class="bgimg-5">

    </div>

    <script type='text/javascript' src='//www.w3schools.com/utilcave_com/inc/ezf-min.php?a=a&cb=3&shcb=6' style='display:none;'></script>
</body>

</html>
